
<div ng-controller="WineItemController">
<h2>Add New Wine</h2>

	Here are the results for unique_wine : found <b>{{unique_wine.length}} items</b>.
	<p><em>Status</em> : <b>{{unique_status}}</b></p>
	<p>location : <em>{{location}}</em></p>
<div ng-repeat="wine in unique_wine" class="row-fluid">
    <form class="form-horizontal span12">
        <fieldset>
            <legend>{{ 'AIM_ITEM_DETAIL' | translate }}</legend>
            <br/>
            <div class="row">
                <div class="span8">

                    <div class="control-group">
                        <label for="wineId" class="control-label">item ID:</label>

                        <div class="controls">
                            <input id="wineId" name="id" type="text" value="{{wine.id}}" disabled/>
                        </div>
                    </div>
					
                    <div class="control-group">
                        <label for="name" class="control-label">Name:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="{{wine.name}}"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="grapes" class="control-label">Grapes:</label>

                        <div class="controls">
                            <input type="text" id="grapes" name="grapes" value="{{wine.grapes}}"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="country" class="control-label">Country:</label>

                        <div class="controls">
                            <input type="text" id="country" name="country" value="{{wine.country}}"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Region:</label>

                        <div class="controls">
                            <input type="text" id="region" name="region" value="{{wine.region}}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="year" class="control-label">Year:</label>

                        <div class="controls">
                            <select class="input-small" id="year" name="year" value="{{wine.year}}">
                                   </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="description" class="control-label">Notes:</label>

                        <div class="controls">
                            <textarea id="description" name="description" style="width: 90%;" rows="6">{{wine.description}}</textarea>
                        </div>
                    </div>

                </div>

                <div class="span4">
                    <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                        <p><img id="picture" width="180" ng-src="{{wine.picture}}" height="150" width="125" alt="default-pic"/>
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">{{ 'AIM_BUTTON_SAVE' | translate }}</a>
            <a href="#" class="btn delete">{{ 'AIM_BUTTON_DELETE' | translate }}</a>
        </div>

    </form>

</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div>
</div>