	
<div ng-app="winesApp" ng-controller="TransCtrl" class="row-fluid">
    <div class="span12">
	   <i class="icon-wrench"></i>
        <strong id="AIM_SettingTitle_1">{{ 'AIM_SettingTitle_1' | translate }}</strong>
        <p id="AIM_SettingDesc_1">{{ 'AIM_SettingDesc_1' | translate }}</p>

	   <i class="icon-wrench"></i>
        <strong id="AIM_SettingTitle_2">{{ 'AIM_SettingTitle_2' | translate }}</strong>
        <p id="AIM_SettingDesc_2">{{ 'AIM_SettingDesc_2' | translate }}</p>
		
	   <i class="icon-wrench"></i>
        <strong id="AIM_SettingTitle_3">{{ 'AIM_SettingTitle_3' | translate }}</strong>
        <p id="AIM_SettingDesc_3">{{ 'AIM_SettingDesc_3' | translate }}</p>
		
	   <i class="icon-wrench"></i>
        <strong id="AIM_SettingTitle_4">{{ 'AIM_SettingTitle_4' | translate }}</strong>
        <p id="AIM_SettingDesc_4">{{ 'AIM_SettingDesc_4' | translate }}</p>
			</div>
    </div>
</div>
